# Import Library

In [1]:
import pandas as pd

# Create Empty Dataframe

In [2]:
df = pd.DataFrame(columns = ['id','insert_time','tx_amount','tx_type','status'])
df

Empty DataFrame
Columns: [id, insert_time, tx_amount, tx_type, status]
Index: []

# Create Function to Input Data

In [3]:
def InputData():
    status = ''
    counterId = 0
    counterInsertTime = 0
    
    id = int(input('Masukan Id : '))
    insert_time = input('Masukan Tanggal (dd/mm/yyyy) : ')
    tx_amount = int(input('Masukan Jumlah Transaksi : '))
    tx_type = input('Masukan Tipe Transaksi (Buy/Sell) : ')
    
    for i in range(len(df)):
        
        if((df['id'][i] == id) & (df['insert_time'][i] == insert_time)):
            counterId += 1
            counterInsertTime += 1
        elif((df['id'][i] == id) & (df['insert_time'][i] != insert_time)):
            counterId += 1
    
         
    if((counterId % 2 == 0) & (counterInsertTime % 2 == 0)):
        if(df.empty):
            status = 'Open'
     
        status = 'Open'
      
    if((counterId % 2 == 1) & (counterInsertTime % 2 == 0)):
        status = 'Open'
      
    if((counterId % 2 == 1) & (counterInsertTime % 2 == 1)):
        status = 'Close'
        
    if((counterId % 2 == 0) & (counterInsertTime % 2 == 1)):
        status = 'Close'
        
            
    
    listData = []
    listData.append(id)
    listData.append(insert_time)
    listData.append(tx_amount)
    listData.append(tx_type)
    listData.append(status)
    
    return listData

# Step to Input Data

**Notes : Re-run this step to input more data (if needed)**

In [48]:
data = InputData()

Masukan Id : 6
Masukan Tanggal (dd/mm/yyyy) : 03/01/2021
Masukan Jumlah Transaksi : 20
Masukan Tipe Transaksi (Buy/Sell) : Buy

## Show input data

In [49]:
data

[6, '03/01/2021', 20, 'Buy', 'Open']

# Insert Data to Dataframe

In [50]:
df.loc[len(df)] = data

# Show current Dataframe

In [77]:
df

   id insert_time tx_amount tx_type status
0   1  01/01/2021       100     Buy   Open
1   1  01/01/2021       100     Buy  Close
2   1  01/01/2021       100     Buy   Open
3   1  02/01/2021       200    Sell   Open
4   2  02/01/2021       100     Buy   Open
5   2  01/01/2021       300    Sell   Open
6   1  01/01/2021        10     Buy  Close
7   2  01/01/2021        10    Sell  Close
8   3  02/01/2021        10     Buy   Open
9   4  02/01/2021        10    Sell   Open
10  5  03/01/2021        20    Sell   Open
11  6  03/01/2021        20     Buy   Open

In [85]:
#Convert Dataframe to CSV
df.to_csv('MainDf_Answer1.csv', index=False)
print('Convert Success')

Convert Success

# View Current Updated Transaction of each Customer

## Sorted Dataframe by insert_time

In [80]:
dfSorted = df.sort_values(by=['insert_time','id'], ascending = False)
dfSorted

   id insert_time tx_amount tx_type status
11  6  03/01/2021        20     Buy   Open
10  5  03/01/2021        20    Sell   Open
9   4  02/01/2021        10    Sell   Open
8   3  02/01/2021        10     Buy   Open
4   2  02/01/2021       100     Buy   Open
3   1  02/01/2021       200    Sell   Open
5   2  01/01/2021       300    Sell   Open
7   2  01/01/2021        10    Sell  Close
0   1  01/01/2021       100     Buy   Open
1   1  01/01/2021       100     Buy  Close
2   1  01/01/2021       100     Buy   Open
6   1  01/01/2021        10     Buy  Close

# Delete duplicate transaction by insert_time

In [81]:
dfSorted.drop_duplicates(subset='id', inplace=True)

In [82]:
dfSorted

   id insert_time tx_amount tx_type status
11  6  03/01/2021        20     Buy   Open
10  5  03/01/2021        20    Sell   Open
9   4  02/01/2021        10    Sell   Open
8   3  02/01/2021        10     Buy   Open
4   2  02/01/2021       100     Buy   Open
3   1  02/01/2021       200    Sell   Open

## Reset Index

In [83]:
dfSorted = dfSorted.reset_index(drop=True)

In [84]:
dfSorted

  id insert_time tx_amount tx_type status
0  6  03/01/2021        20     Buy   Open
1  5  03/01/2021        20    Sell   Open
2  4  02/01/2021        10    Sell   Open
3  3  02/01/2021        10     Buy   Open
4  2  02/01/2021       100     Buy   Open
5  1  02/01/2021       200    Sell   Open

In [86]:
#Convert Dataframe to CSV
dfSorted.to_csv('DfCurrentTransaction.csv', index=False)
print('Convert Success')

Convert Success